body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0px 0;
    margin-left: -720px;
}
.contatos{
    margin-right: -660px;
    font-size: 20px;
}

.outros{
    margin-left: -660px;
    font-size: 20px;    
}
.started{
    background-color: #0057E5;
    color: white;
    font-weight: bold;
    padding: 10px 20px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.title{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

    .logo {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
    }

    .logo img {
        width: 40px; /* Ajuste o tamanho do ícone conforme necessário */
        height: 40px;
        margin-right: 10px; /* Espaço entre o ícone e o texto "Dropbox" */
    }

    .logo {
        margin-left: 10px;
        padding: 10px; /* Espaçamento interno para criar um fundo azul em torno do ícone */
    }

    .logo, .logo a {
        color: white; /* Cor do texto em branco para contrastar com o fundo azul */
        text-decoration: none; /* Remover sublinhado dos links */
    }


ul {
    list-style: none;
    display: flex;
}
ul.contatos li {
    display: flex;
    align-items: center;
}

ul.contatos img {
    width: 20px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 20px;
    margin-right: 17px; /* Espaço entre o ícone e o texto "Contact" */
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

.gray-background {
    background: linear-gradient(to right, #2B2929 30%, #000 20%); /* Gradiente de cinza para preto */
    display: flex;
    justify-content: flex-start; /* Alinhar o conteúdo à esquerda */
    align-items: center;
    text-align: left; /* Alinhar o texto à esquerda */
    padding: 223px 0; /* Ajuste o padding conforme necessário */
    color: #fff; /* Cor do texto branco */
}

.black-background {
    background-color: #000;
    width: 70%; 
    height: 100%;
}

h1 {
    margin: 0;
    margin-top: -178px;
    margin-left: 53px;
    font-size: 50px;
}
p{
    margin-top: 4px;
    margin-left: 53px;
    font-size: 20px;
}
.bitton{
    font-size: 20px;
    font-weight: bold;
    margin-left: 53px;
    background-color: #0070E0;
    color: #000000;
    padding: 25px 60px;
    border: none;
    border-radius: 5px;
}
.botton{
    margin-left: 53px;
    color: #ffffff;
    padding: -6px 20px;
    border: none;
    border-radius: 5px;
    text-decoration:underline;

}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0070E0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.arrow-icon {
    position: absolute;
    right: 10px; /* Ajuste a posição à direita conforme necessário */
}



.features {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
}

.feature {
    text-align: center;
}

.feature img {
    width: 80px;
    height: 80px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}